body{
  background: rgb(252, 252, 252);
}

.mainFrame {
  background: #FFF;
  max-width: 700px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 80vh;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 30px;
  box-sizing: border-box;

}

